<div class="container-fluid">
  <div class="col-sm-4 col-sm-offset-5" >


        <h1 >Welcome!</h1>
        <ul class="list-unstyled">
          <li> <%= link_to "ESG Whiteboard","" %>     </li>
          <li> <%= link_to "My Projects","" %>     </li>
          <li> <%= link_to "New Project", new_project_path  %>     </li>
          <li> <%= link_to "Archived Projects","" %>   </li>
        </ul>


  </div>
</div>