<div class="form-group">
  <label class="col-sm-4" for=component_name">Component Name:</label>
  <div class="col-sm-8">
    <%= text_field_tag "component_type[name]", @component_type.name, class: "form-control"%>
  </div>
  <div class="clearfix"></div>
</div>